# Exclude core directory from GitHub language detection
lib/js/core/ linguist-detectable=false

# Exclude features/changelog directory from GitHub language detection
lib/js/features/changelog/ linguist-detectable=false
